[submodule "hyla_slam/hylacomylus/surface_repair_common"]
	path = hyla_slam/hylacomylus/surface_repair_common
	url = git@github.com:swanbeck/surface_repair_common.git
[submodule "kiss-icp"]
	path = kiss-icp
	url = https://github.com/PRBonn/kiss-icp.git
